* {
    box-sizing: border-box;
    margin: 0;
}

.student-counter {
    position: fixed;
    top: 12px;
    right: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#start-btn {
    background-color: gray;
    color: black;
    padding: 15px 25px;
    text-decoration: none;
  }

#start-btn:hover {
    background-color: black;
    color: white;
}

#start-btn {
    background-color: gray;
    color: black;
    padding: 15px 25px;
    text-decoration: none;
  }

#start-btn:hover {
    background-color: black;
    color: white;
}

#show-answer-btn {
    background-color: gray;
    color: black;
    padding: 15px 25px;
    text-decoration: none;
  }

#show-answer-btn:hover {
    background-color: black;
    color: white;
}

#next-qn-btn {
    background-color: gray;
    color: black;
    padding: 15px 25px;
    text-decoration: none;
  }

#next-qn-btn:hover {
    background-color: black;
    color: white;
}

.quiz-start {
    position: fixed;
    top: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.game-bar {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.answer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    width: 100vw;
    padding: 20px;
}

.answer-container > button {
    background-color: gray;
    color: black;
    border-radius: 8px;
    font-size: 24px;
    transition-duration: 0.2s;
}

.answer-container > button:hover {
    background-color: black;
    color: white;
}

.results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bar-chart {
    width: 50vw !important;
    height: 50vh !important;
}

.bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}